*{
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    
}

body{
    margin:0;
}


.backdrop{
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top:0;
    left:0;
    position: fixed;
    background: rgba(0, 0, 0, 0.349);
}

.togglebutton{
    /* display: none; */
    width: 3rem;
    background: transparent;
    cursor:pointer;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.togglebutton__bar{
    width: 100%;
    height:0.2rem;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0.6rem 0;
}
.mainheader{
    display: inline-block;
    width: 100%;
    margin:0;
    display: flex;
    vertical-align: middle;
    position:fixed;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(0, 140, 255), rgb(17, 0, 255));
}


.logoimg{
background: url("../New folder/96751599-business-man-icon-white-icon-with-shadow-on-transparent-background.webp");
height: fit-content;
display: inline-block;
}

.logoimg img{
    height: 100%;
}
.logo{
    text-align: center;
    padding: 10px ;
    display: inline-block;
}


.navsection{
    margin:0;
    display: inline-block;
    
}

.navlist{
    display: none;
    list-style: none;
    margin: 0;
    padding:10px;
    
}


.logotext{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bolder;
    font-size: 2.3ch;
    text-decoration: none;
    vertical-align: middle;
    color:#ffffff;
    
    
}

.modal{
    display: none;
}

.navlink{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.navaddress, .mobilenav__item a{
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color:#ffffff;
    font-size: 1.5ch;
    padding: 0 4ch;
    word-wrap: break-word;
}

.navaddress :hover{
    color: black;
}



.mobilenav{
    display: none; 
    position: fixed;
    z-index: 101;
    width: 80%;
    height:100vh;
    top:0;
    left:0;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(0, 140, 255), rgb(17, 0, 255));
}

.mobilenav__items{
    width:90%;
    height:100%;
    list-style:none;
    margin: 10% auto;
    padding:0;
    text-align: center;
    list-style: none;
}

.mobilenav__item{
    margin: 1rem 0;

}
.content{
    display: block;
    padding: 100px 20px 20px 20px;
    flex-shrink: 0;
    
}

.content > section{
  
}

.left_panel{
    
    width: 25%;
    padding: 0 20px;
    display:none;
    border-radius: 8px;
    border: 2px solid black;
}

.latestitems{
    display: flex;
    clear:both;
    justify-content: center;
    align-items: center;

}

.latestlist{
    padding:0;


}

.mainpanel{
    display: flex;
    padding: 0 20px;
}





.navfooter{
    background: rgba(0, 0, 0, 0.685);
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    list-style: none;
   
    margin:0;
    font-size: 1.2ch;
    background-image: linear-gradient(rgb(0, 140, 255), rgb(17, 0, 255));
}

.navlistfooter{
    list-style: none;
    margin-top: 48px;
    
}
.navlinkfooter{
 
}
.navaddressf{
    color:white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}


@media (min-width:  40rem) {
    .left_panel{
        display: block;
    }

    .navlist{
        display: inline-block;
    }

    .togglebutton{
        display: none;
    }

}